<html xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.bet.nz/thymeleaf/layout"
      layout:decorate="~{layout}"> <!-- Dziediczy z "layout.html"-->
<body class="d-flex flex-column h-100">
<head>
    <title>Club Create</title>
</head>
<main class="flex-shrink-0">
    <!-- Page Content-->
    <section layout:fragment="body" class="py-5">
        <div class="container">
            <form role="form" method="post" th:action="@{/clubs/new}" th:object="${club}" class="row g-3">
                <div class="col-md-6">
                    <label for="title" class="form-label">Title</label>
                    <input
                            type="text"
                            class="form-control"
                            name="title"
                            th:field="*{title}"
                            id="title"
                            placeholder="Title">
                    <p th:if="${#fields.hasErrors('title')}" class="text-danger" th:errors="*{title}"></p>
                </div>
                <div class="col-md-6">
                    <label for="photoUrl" class="form-label">Photo Url</label>
                    <input
                            type="text"
                            class="form-control"
                            name="photoUrl"
                            th:field="*{photoUrl}"
                            id="photoUrl"
                            placeholder="Photo Url">
                    <p th:if="${#fields.hasErrors('photoUrl')}" class="text-danger" th:errors="*{photoUrl}"></p>
                </div>
                <div class="col-12">
                    <label for="content" class="form-label">Content</label>
                    <input
                            type="text"
                            class="form-control"
                            name="content"
                            th:field="*{content}"
                            id="content"
                            placeholder="content">
                    <p th:if="${#fields.hasErrors('content')}" class="text-danger" th:errors="*{content}"></p>
                </div>
                <div class="col-12 mb-3">
                    <button type="submit" class="btn btn-primary">Create</button>
                </div>
            </form>
        </div>
    </section>
</main>
</body>
</html>